span{
    color: rgb(37, 86, 248);
}
input{
    margin:0px 0px 0px;
}
button{
    margin: 10px 0px;
}
label{
    margin: 15px 0px 0px 0px;
}
.width{
    width: 50%;
    margin: 0px 0px 10px;
    padding: 5px;
}
small{
    color: red;
}
/* .ng-invalid{
    color: red;
} */
.ng-valid.form-control:focus{
    background-color: #fff; 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(125, 236, 82, 0.425);
}

.ng-invalid.form-control:focus {
    color: #f81111;
    background-color: #fff;
    border-color: #f00707;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}
.ng-valid.form-control{
    border-color: rgb(188, 255, 99);
}

button{
    display: block;
}
.btn-success:disabled {
    color: #fff;
    background-color: #fd3c3cf8;
    border-color: #fd3c3cf8;
}