.center{
    padding: 100px;
}
input{
    margin:0px 0px 20px;
}
button{
    margin-right: 10px;
}
img{
    width: 200px;
    height: 100px;
}
label{
    margin-bottom: 5px;
}
input{
    margin-bottom: 15px;
}